/root/*
!/root/bin
/root/bin/*
!/root/bin/pkg
!/root/src
!/root/dev
!/root/root
!/root/etc
!/root/boot
!/root/hello.c
/root/etc/localtime
/root/src/kernel/acpi/lai

/**/*.tar.bz2
/**/*.tar.gz
/qword.iso
/qword.img
/qword.hdd

/**/*.o
/**/*.a
/**/*.bin
/**/*.elf

/bochsout.txt
/bx_enh_dbg.ini
/host/echfs-utils/echfs-utils
/host/toolchain/build-toolchain
/host/toolchain/cross-root

/test.img
