/root/bin
/root/lib
/root/src/test/test
/root/src/hello/hello
/**/*.tar.bz2
/**/*.tar.gz
/qword.iso
/qword.img
/test.img
/**/*.o
/**/*.bin
/bochsout.txt
/bx_enh_dbg.ini
/host/echfs-utils/echfs-utils
/host/toolchain/build-toolchain
/host/toolchain/sysroot
