set timeout=5
set default=0

menuentry "qword - Default (EDID enabled)" {
    multiboot /boot/kernel.bin edid=enabled
}

menuentry "qword - VBE 1024x768 (recommended fallback)" {
    multiboot /boot/kernel.bin display=vbe vbe_res=1024x768
}

menuentry "qword - VBE 800x600" {
    multiboot /boot/kernel.bin display=vbe vbe_res=800x600
}

menuentry "qword - VBE 640x480" {
    multiboot /boot/kernel.bin display=vbe vbe_res=640x480
}
